<!DOCTYPE html>
<html lang="en">
    <head>

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <style>
            #app 
            {
                font-size: 35px;
            }
            h1
            {
                text-align: center;
                font-size: 40px;
                color: rgb(12, 170, 243);
            }

            div
            {
                text-align: center;
            }

            li
            {
                margin-top: 4px;
            }
        </style>
        
        <title>Play</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
